body {
    font-family: 'Roboto', sans-serif;
}

.main {
    width: 414px;
    height: auto;
    margin: 0 auto;
    padding: 26px;
    background-color: var(--color-light);
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}