.wrapper {
    width: 100%;
    display: none;
}

.wrapper.-active {
    display: block;
}

.main-weather {
    margin-top: 24px;
    text-align: center;
    font-size: 26px;
    font-weight: 500;
}

.main-weather > .icon {
    display: inline-block;
    width: 350px;
}

.main-weather > .temperature {
    margin-top: 10px;
}

.main-weather > .weather-info {
    display: flex;
    justify-content: space-around;
    font-size: 18px;
}

.main-weather > .weather-info .item {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.main-weather > .weather-info .icon {
    width: 30px;
}